.head-item {
    font-size: 1.3em;
}

footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
footer p:last-child {
    margin-bottom: 0;
}

/* Social CSS */

.social a i{
    display:inline-block;
    width:40px;
    height:40px;
    font-size:16px;
    line-height:40px;
    text-decoration:none;
    text-align:center;
    color:#fff;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    border-radius: 50px;
}

.social a.facebook i{
    background:#1e78ae;
}

.social a.twitter i{
    background:#1ba1e2;
}

.social a.google-plus i{
    background:#f22d0c;
}

.social a.linkedin i{
    background:#2d93cf;
}

.social a.pinterest i{
    background:#dd1617;
}

.social a:hover i{
    background:#000;
}


.btn-social{
    text-shadow: 1px 1px 1px #000000;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 1px;
}
.btn-facebook{
    background-color: #1e78ae !important;
    color: #ffffff !important;

}
.btn-facebook:hover{
    background-color: #000000 !important;
    text-shadow: 1px 1px 1px #1e78ae;
}

.btn-twitter{
    background-color: #1ba1e2 !important;
    color: #ffffff !important;

}
.btn-twitter:hover{
    background-color: #000000 !important;
    text-shadow: 1px 1px 1px #1ba1e2;
}

.btn-google{
    background-color: #f22d0c !important;
    color: #ffffff !important;

}
.btn-google:hover{
    background-color: #000000 !important;
    text-shadow: 1px 1px 1px #f22d0c;
}

.btn-github{
    background-color: #dd1617 !important;
    color: #ffffff !important;

}
.btn-github:hover{
    background-color: #000000 !important;
    text-shadow: 1px 1px 1px #dd1617;
}

.page-header{
    margin: 70px 0 23px;
}

.sponsor{
    padding: 20px;
    margin-bottom: 20px;
}

.content-heading{
    margin-top: 60px;
    padding: 16px;
    box-shadow: 0 1px 0 rgba(20, 20, 20, 0.075);
    background-color: #f9f9f9;
}